{{ define "main" }}
  <h1>{{ .Params.url }}</h1>

  <ul>
    <li class="tag-item">
      正字:
      {{ if gt (len .Params.tags) 0 }}
          {{ index .Params.tags 0 }}

        <!-- Copy button (shortcode) -->
        {{ partial "copy.html" (index .Params.tags 0) }}
      {{ end }}
    </li>
    <li>所據字書: {{ with .Params.src }}{{ . | markdownify }}{{ end }}</li>
    <li>考證: {{ with .Params.note }}{{ . | markdownify }}{{ end }}</li>
  </ul>
{{ end }}
{{ define "footer" }}
<div class="footer border-top border-gray-light mt-5 pt-3 d-flex flex-justify-between text-gray">
  <div class="text-left">
    <ul>
      {{ range .Site.Params.sources }}
        <li>{{ . }}</li>
      {{ end }}
    </ul>
  </div>
  <div class="text-right">
    This site is open source.
    <a href="https://github.com/{{ with .Params.repo }}{{ . }}{{ else }}{{ .Site.Params.github_repo }}{{ end }}/edit/{{ with .Params.branch }}{{ . }}{{ else }}{{ .Site.Params.github_branch }}{{ end }}/{{- with .File -}}content/{{ .Path }}{{- else -}}themes/primer/layouts{{- end -}}">
      Improve this page</a>.
  </div>
</div>
{{ end }}
