{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ $all := .RegularPagesRecursive }}

  {{ $ivsReady := where $all "Params.bc" "not in" (slice nil "1") }}
  {{ $noBase   := where $all "Params.bc" "1" }}
  {{ $todo     := where $all "Params.bc" nil }}
  
  <p>IVS-ready ({{ len $ivsReady }}):
    {{ range $ivsReady.ByLastmod.Reverse }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{ end }}
  </p>
  
  <p>No base character ({{ len $noBase }}):
    {{ range $noBase.ByLastmod.Reverse }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{ end }}
  </p>
  
  <p>TODO ({{ len $todo }}):
    {{ range $todo.ByLastmod.Reverse }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{ end }}
  </p>
{{ end }}
