{{ define "main" }}
  <h1>{{ .Title }}
    <a href=https://doi.org/10.5281/zenodo.17460614>
      <img src=/zenodo.17460614.svg alt=DOI>
    </a>
  </h1>
  {{ .Content }}
  {{ $all := .RegularPagesRecursive }}

  {{ $noBase   := where $all "Params.bc" 1 }}
  {{ $todo     := where $all "Params.bc" nil }}
  {{ $ivsReady := $all | complement $noBase | complement $todo }}
  
  <p>IVS-ready ({{ len $ivsReady }}):
    {{ range $ivsReady.ByLastmod.Reverse }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{ end }}
  </p>
  
  <p>No base character ({{ len $noBase }}):
    {{ range $noBase.ByLastmod.Reverse }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{ end }}
  </p>
  
  <p>TODO ({{ len $todo }}):
    {{ range $todo.ByLastmod.Reverse }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{ end }}
  </p>
{{ end }}
