<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{ with .Params.schemaType }}{{ . }}{{ else }}WebPage{{ end }}",

  {{- $title := or .Title site.Title | plainify }}
  "name": "{{ $title }}",
  "headline": "{{ with .Params.headline }}{{ . }}{{ else }}{{ $title }}{{ end }}",

  {{- with or .Description .Summary site.Params.description | plainify | htmlUnescape }}
    {{- $desc := trim . "\n\r\t " -}}
    "description": "{{ if in $desc "%s" }}{{ printf $desc $.Title }}{{ else }}{{ $desc }}{{ end }}",
  {{- end }}

  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- with .PublishDate }}
  "datePublished": "{{ .Format $ISO8601 }}",
  {{- end }}
  {{- with .Lastmod }}
  "dateModified": "{{ .Format $ISO8601 }}",
  {{- end }}

  {{- with site.Params.publisher }}
  {{ $svgicon := resources.Get "icon.svg" | minify | resources.Copy "icon.svg" }}
  "publisher": {
    "@type": "Organization",
    "name": "{{ . }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ $svgicon.Permalink }}"
    }
  }
  {{- end }}
}
</script>
