<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="container-lg px-3 my-5 markdown-body">
    <header>
      {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
    </footer>
  </div>
  {{ partialCached "head/js.html" .Site }}
</body>
</html>
